<div class="p-col-10 p-offset-3">
  <h1>Iniciar Sesión</h1>
  <p-divider></p-divider>

  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-6">
      <label for="usuarioID">Usuario</label>
      <input id="usuarioID" type="text" pInputText />
    </div>

    <div class="p-field p-col-6"></div>

    <div class="p-field p-col-6">
      <label for="contrasenaID">Contraseña</label>
      <input id="contrasenaID" type="password" pInputText />
    </div>

    <div class="p-field p-col-6"></div>

    <div class="p-field p-col-6">
      <div class="p-grid p-jc-end">
        <div class="p-col-12">
          <button
            pButton
            type="button"
            label="Entrar"
            class="p-button-success"
          ></button>
        </div>
      </div>
    </div>

    <div class="p-field p-col-6"></div>

    <div class="p-field p-col-6">
      <div class="p-grid p-jc-end">
        <div class="p-col-12">
          <button
            pButton
            type="button"
            label="No tengo una cuenta"
            class="p-button-danger"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
