<div class="p-col-10 p-offset-3">
  <h1>Registro</h1>
  <p-divider></p-divider>

  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-6">
      <label for="nombreID">Nombre</label>
      <input id="nombreID" type="text" pInputText />
    </div>

    <div class="p-field p-col-6"></div>

    <div class="p-field p-col-6">
      <label for="apellidoID">Apellido</label>
      <input id="apellidoID" type="text" pInputText />
    </div>

    <div class="p-field p-col-6"></div>

    <div class="p-field p-col-6">
      <label for="correoID">Correo</label>
      <input id="correoID" type="email" pInputText />
    </div>

    <div class="p-field p-col-6"></div>

    <div class="p-field p-col-6">
      <label for="contrasenaID">Contraseña</label>
      <input id="contrasenaID" type="password" pInputText />
    </div>

    <div class="p-field p-col-6"></div>

    <div class="p-field p-col-6">
      <label for="contrasenaID">Confirmar Contraseña</label>
      <input id="contrasenaID" type="password" pInputText />
    </div>

    <div class="p-field p-col-6"></div>

    <div class="p-field p-col-6">
      <div class="p-grid p-jc-end">
        <div class="p-col-12">
          <button
            pButton
            type="button"
            label="Registrarme"
            class="p-button-success"
          ></button>
        </div>
      </div>
    </div>

    <div class="p-field p-col-6"></div>

    <div class="p-field p-col-6">
      <div class="p-grid p-jc-end">
        <div class="p-col-12">
          <button
            pButton
            type="button"
            label="Ya tengo una cuenta"
            class="p-button-danger"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
